In [3]:
import pandas as pd

In [17]:
df = pd.read_csv("C:/Users/Hp/Downloads/indianEco.csv")
df

,Year,Country Name,GDP (current US$),GDP per capita (current US$),GDP growth (annual %),Imports of goods and services (% of GDP),Exports of goods and services (% of GDP),"Total reserves (includes gold, current US$)","Inflation, consumer prices (annual %)","Population, total",Population growth (annual %),"Life expectancy at birth, total (years)"
0,1960,India,3.702988e+10,82,0.00,6.83,4.46,6.745366e+08,1.78,445954579,2.31,41.13
1,1961,India,3.923244e+10,85,3.72,5.96,4.30,6.663571e+08,1.70,456351876,2.33,41.74
2,1962,India,4.216148e+10,90,2.93,6.03,4.17,5.127918e+08,3.63,467024193,2.34,42.34
3,1963,India,4.842192e+10,101,5.99,5.91,4.28,6.078625e+08,2.95,477933619,2.34,42.94
4,1964,India,5.648029e+10,116,7.45,5.69,3.73,4.991451e+08,13.36,489059309,2.33,43.57
...,...,...,...,...,...,...,...,...,...,...,...,...
56,2016,India,2.294798e+12,1733,8.26,20.92,19.16,3.616943e+11,4.95,1338636340,1.19,68.67
57,2017,India,2.651473e+12,1981,6.80,21.95,18.79,4.126138e+11,3.33,1354195680,1.16,68.97
58,2018,India,2.702930e+12,1997,6.53,23.69,19.93,3.991672e+11,3.94,1369003306,1.09,69.27
59,2019,India,2.831552e+12,2101,4.04,21.27,18.69,4.634699e+11,3.73,1383112050,1.03,69.50
60,2020,India,2.667688e+12,1928,-7.25,19.10,18.71,5.902274e+11,6.62,1396387127,0.96,69.73

In [15]:
df = pd.read_excel("C:/Users/Hp/Downloads/imf-dm-export-20240116 (2).xls")
df

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [12]:
df = pd.read_csv("C:/Users/Hp/Downloads/gapminder - gapminder.csv")
df

,Unnamed: 0,country,year,population,continent,life_exp,gdp_cap
0,11,Afghanistan,2007,31889923,Asia,43.828,974.580338
1,23,Albania,2007,3600523,Europe,76.423,5937.029526
2,35,Algeria,2007,33333216,Africa,72.301,6223.367465
3,47,Angola,2007,12420476,Africa,42.731,4797.231267
4,59,Argentina,2007,40301927,Americas,75.320,12779.379640
...,...,...,...,...,...,...,...
137,1655,Vietnam,2007,85262356,Asia,74.249,2441.576404
138,1667,West Bank and Gaza,2007,4018332,Asia,73.422,3025.349798
139,1679,"Yemen, Rep.",2007,22211743,Asia,62.698,2280.769906
140,1691,Zambia,2007,11746035,Africa,42.384,1271.211593
141,1703,Zimbabwe,2007,12311143,Africa,43.487,469.709298

In [13]:
df = pd.read_excel("C:/Users/Hp/Downloads/EAWE18.xlsx")
df

,ID,FEMALE,MALE,BYEAR,AGE,AGEMBTH,HHINC97,POVRAT97,HHBMBF,HHBMOF,...,REGNE,REGNC,REGW,REGS,MSA11NO,MSA11NCC,MSA11CC,MSA11NK,MSA11NIC,EXP
0,199,0,1,1982,29,35.0,115900.0,705.0,1,0,...,0,0,0,1,0,0,1,0,0,5.307693
1,5391,0,1,1980,31,25.0,23500.0,126.0,1,0,...,0,1,0,0,0,0,1,0,0,7.000000
2,962,0,1,1980,31,22.0,59000.0,315.0,1,0,...,0,0,0,1,0,0,1,0,0,9.769231
3,3486,0,1,1981,30,31.0,NaN,NaN,0,0,...,0,1,0,0,0,1,0,0,0,5.115385
4,2738,0,1,1982,29,27.0,60500.0,323.0,1,0,...,0,1,0,0,0,1,0,0,0,2.423077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,6567,1,0,1984,27,29.0,25637.0,137.0,1,0,...,0,0,0,1,0,0,1,0,0,6.596154
496,4812,1,0,1983,28,26.0,30540.0,192.0,1,0,...,1,0,0,0,0,0,1,0,0,3.596154
497,2750,1,0,1981,30,23.0,77045.0,411.0,0,1,...,0,1,0,0,0,0,1,0,0,7.326923
498,906,1,0,1984,27,19.0,NaN,NaN,0,0,...,0,0,0,1,0,1,0,0,0,2.557692
499,3410,1,0,1984,27,35.0,93400.0,740.0,1,0,...,0,0,1,0,0,1,0,0,0,3.000000